



@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
.typewriter {
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  /* white-space: nowrap; */
  overflow: hidden;
  border-right: 2px solid white;
  animation: blink 0.7s infinite;
  height: 5vh;
}


.highlight{
  color: #fe0000;
}